.strength.very-weak {
  background: #ffa0a0;
  background: -moz-linear-gradient(left, #ffa0a0 0%, #ffa0a0 20%, #ffffff 20%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffa0a0), color-stop(20%, #ffa0a0), color-stop(20%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #ffa0a0 0%, #ffa0a0 20%, #ffffff 20%, #ffffff 100%);
  background: -o-linear-gradient(left, #ffa0a0 0%, #ffa0a0 20%, #ffffff 20%, #ffffff 100%);
  background: -ms-linear-gradient(left, #ffa0a0 0%, #ffa0a0 20%, #ffffff 20%, #ffffff 100%);
  background: linear-gradient(to right, #ffa0a0 0%, #ffa0a0 20%, #ffffff 20%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@start', endColorstr='@end', GradientType=1);
  border-color: #ff6d6d;
}
.strength.weak {
  background: #ffb78c;
  background: -moz-linear-gradient(left, #ffb78c 0%, #ffb78c 40%, #ffffff 40%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffb78c), color-stop(40%, #ffb78c), color-stop(40%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #ffb78c 0%, #ffb78c 40%, #ffffff 40%, #ffffff 100%);
  background: -o-linear-gradient(left, #ffb78c 0%, #ffb78c 40%, #ffffff 40%, #ffffff 100%);
  background: -ms-linear-gradient(left, #ffb78c 0%, #ffb78c 40%, #ffffff 40%, #ffffff 100%);
  background: linear-gradient(to right, #ffb78c 0%, #ffb78c 40%, #ffffff 40%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@start', endColorstr='@end', GradientType=1);
  border-color: #ff9759;
}
.strength.medium {
  background: #ffec8c;
  background: -moz-linear-gradient(left, #ffec8c 0%, #ffec8c 60%, #ffffff 60%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffec8c), color-stop(60%, #ffec8c), color-stop(60%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #ffec8c 0%, #ffec8c 60%, #ffffff 60%, #ffffff 100%);
  background: -o-linear-gradient(left, #ffec8c 0%, #ffec8c 60%, #ffffff 60%, #ffffff 100%);
  background: -ms-linear-gradient(left, #ffec8c 0%, #ffec8c 60%, #ffffff 60%, #ffffff 100%);
  background: linear-gradient(to right, #ffec8c 0%, #ffec8c 60%, #ffffff 60%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@start', endColorstr='@end', GradientType=1);
  border-color: #ffe459;
}
.strength.strong {
  background: #c7ff87;
  background: -moz-linear-gradient(left, #c7ff87 0%, #c7ff87 80%, #ffffff 80%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #c7ff87), color-stop(80%, #c7ff87), color-stop(80%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #c7ff87 0%, #c7ff87 80%, #ffffff 80%, #ffffff 100%);
  background: -o-linear-gradient(left, #c7ff87 0%, #c7ff87 80%, #ffffff 80%, #ffffff 100%);
  background: -ms-linear-gradient(left, #c7ff87 0%, #c7ff87 80%, #ffffff 80%, #ffffff 100%);
  background: linear-gradient(to right, #c7ff87 0%, #c7ff87 80%, #ffffff 80%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@start', endColorstr='@end', GradientType=1);
  border-color: #afff54;
}
.strength.very-strong {
  background: #b5ff9b;
  background: -moz-linear-gradient(left, #b5ff9b 0%, #b5ff9b 100%, #ffffff 100%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #b5ff9b), color-stop(100%, #b5ff9b), color-stop(100%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #b5ff9b 0%, #b5ff9b 100%, #ffffff 100%, #ffffff 100%);
  background: -o-linear-gradient(left, #b5ff9b 0%, #b5ff9b 100%, #ffffff 100%, #ffffff 100%);
  background: -ms-linear-gradient(left, #b5ff9b 0%, #b5ff9b 100%, #ffffff 100%, #ffffff 100%);
  background: linear-gradient(to right, #b5ff9b 0%, #b5ff9b 100%, #ffffff 100%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@start', endColorstr='@end', GradientType=1);
  border-color: #8fff68;
}
